<div class="wrapper">
  <app-navbar></app-navbar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <div class="content">
      <div class="container">
        <app-fight></app-fight>

        <app-latest-values></app-latest-values>

        <app-about-latest></app-about-latest>

        <!-- ./about-data-->
        <div class="row">
          <div class="col-12">
            <h4>Charting the data</h4>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <app-charts-layout></app-charts-layout>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Original data source:
      <a href="https://gov.gg/coronavirus" target="_blank">Gov.gg</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020 <a href="https://kodo.gg" target="_blank">Kodo.gg</a>.</strong>
    All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<app-about-modal></app-about-modal>
<app-api-modal></app-api-modal>

<router-outlet></router-outlet>
