<!-- About data -->
<div class="row pt-3">
  <div class="col">
    <div class="alert bg-indigo color-palette">
      <h5><i class="icon fas fa-shield-virus"></i> Guernsey Fighting Covid</h5>
      A group of Guernsey-based individuals with experience in design and manufacture are working hard to help in the fight against Covid-19.
      <br/><br/>
      To find out more about how you can help or request supplies, please visit: <a href="https://fight.covid19.gg" taget="_blank" class="btn btn-sm btn-danger">Fight.Covid19.gg <i class="icon fas fa-external-link-alt"></i></a>
    </div>
  </div>
</div>
